<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{product.name}}</h1>
    <br>
    <br>
    <br>
    
    <div id="0"><h1>{{product.price}}</h1></div>
    <br>

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <!-- Add meta tags for mobile and IE -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title> PayPal Checkout Integration | Server Demo </title>
    </head>
    
    <body>
<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=Aee7Ge-THePw2Rc018yx1Wyd2z2pZJznJedyBrq-jcZBhYkVcmdvajsFUEBsJYssHtttFgNScEgHEdBW&currency=USD"></script>

<script>
    paypal.Buttons({

        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{product.price}}'
                    }
                }]
            });
        },

        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
            });
        }

    }).render('#paypal-button-container');
</script>

    </body>
    
    </html>
        
</body>
</html>